.error {
  font-weight: bold;
  font-family: sans-serif;
  color: red;
  font-size: 1rem; }

.debug {
  color: #fff; }

.settings {
  background: #fff;
  width: 20rem;
  padding: 2rem 1rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .switch + .switchLabel {
    padding: 1rem; }
  .switch input[type='checkbox'] {
    display: none; }
    .switch input[type='checkbox'] + label {
      width: 4rem;
      display: block;
      box-sizing: content-box;
      position: relative;
      background: #aaa;
      padding: 0.25rem; }
      .switch input[type='checkbox'] + label:before {
        content: " ";
        display: block;
        position: relative;
        width: 2rem;
        height: 2rem;
        background: #222222;
        left: 0;
        cursor: pointer; }
      .switch input[type='checkbox'] + label:after {
        content: "off";
        display: block;
        position: absolute;
        width: 2rem;
        height: 2rem;
        background: transparent;
        right: 0.25rem;
        top: 0.25rem;
        text-align: center;
        line-height: 2rem; }
    .switch input[type='checkbox']:checked + label:before {
      left: 2rem;
      content: ' '; }
    .switch input[type='checkbox']:checked + label:after {
      content: "on";
      display: block;
      position: absolute;
      width: 2rem;
      height: 2rem;
      background: transparent;
      left: 0.25rem;
      top: 0.25rem;
      text-align: center;
      line-height: 2rem; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  background: black; }

.clockFrame {
  width: 835px;
  height: 475px;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #222222;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  .clockFrame .clockPhrase, .clockFrame .placeHolder {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #111111; }
    .clockFrame .clockPhrase.active, .clockFrame .active.placeHolder {
      color: #fff;
      text-shadow: 0px 0px 15px #fff; }
      .clockFrame .clockPhrase.active.flicker, .clockFrame .active.flicker.placeHolder {
        -webkit-animation: flicker 5s ease infinite; }

@-webkit-keyframes flicker {
  0% {
    color: #fff;
    text-shadow: 0px 0px 15px #fff; }

  10% {
    color: #ccc;
    text-shadow: 0px 0px 13px #ccc; }

  23% {
    color: #fff;
    text-shadow: 0px 0px 14px #fff; }

  30% {
    color: #ccc;
    text-shadow: 0px 0px 15px #ccc; }

  65% {
    color: #fff;
    text-shadow: 0px 0px 15px #fff; }

  69% {
    color: #fff;
    text-shadow: 0px 0px 17px #fff; }

  74% {
    color: #ccc;
    text-shadow: 0px 0px 14px #ccc; }

  100% {
    color: #fff;
    text-shadow: 0px 0px 15px #fff; } }
