body {
  font-size: 12pt;
  background: black; }

.error {
  font-weight: bold;
  font-family: sans-serif;
  color: red;
  font-size: 1rem; }

.debug {
  color: #fff;
  float: right; }

.clockFrame {
  width: 835px;
  height: 475px;
  padding: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #222222; }
  .clockFrame .clockPhrase, .clockFrame .placeHolder {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #111111; }
    .clockFrame .clockPhrase.active, .clockFrame .active.placeHolder {
      color: #fff;
      text-shadow: 0px 0px 15px #fff; }
      .clockFrame .clockPhrase.active.flicker, .clockFrame .active.flicker.placeHolder {
        -webkit-animation: flicker 5s ease infinite; }

@-webkit-keyframes flicker {
  0% {
    color: #fff;
    text-shadow: 0px 0px 15px #fff; }

  10% {
    color: #ccc;
    text-shadow: 0px 0px 13px #ccc; }

  23% {
    color: #fff;
    text-shadow: 0px 0px 14px #fff; }

  30% {
    color: #ccc;
    text-shadow: 0px 0px 15px #ccc; }

  65% {
    color: #fff;
    text-shadow: 0px 0px 15px #fff; }

  69% {
    color: #fff;
    text-shadow: 0px 0px 17px #fff; }

  74% {
    color: #ccc;
    text-shadow: 0px 0px 14px #ccc; }

  100% {
    color: #fff;
    text-shadow: 0px 0px 15px #fff; } }
