.error {
  font-weight: bold;
  font-family: sans-serif;
  color: red;
  font-size: 1rem; }

.dispTime {
  whitespace: no-wrap; }

.settings {
  width: 20rem;
  padding: 0;
  background: #222;
  border: 1px solid #444;
  color: #aaa;
  position: fixed;
  top: 1rem;
  right: -22rem;
  z-index: 4;
  transition: right .3s ease;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  .settings:hover {
    right: 1rem; }
  .settings .settingOptions {
    border: 1px solid #444;
    border-width: 1px 0 0;
    padding: .5rem;
    background: linear-gradient(#252525 0%, #141414 50%, #252525 100%);
    text-align: left; }

.settingToggle {
  width: 6rem;
  padding: .5rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background: #222;
  border: 1px solid #444;
  color: #aaa;
  position: absolute;
  top: 1rem;
  right: 1rem; }
  .settingToggle:hover + .settings {
    right: 1rem; }

.sideLabel {
  padding: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
  text-rendering: optimizeLegibility;
  display: inline-block;
  box-sizing: border-box;
  width: 14rem; }

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .switch input[type='checkbox'] {
    display: none; }
    .switch input[type='checkbox'] + label {
      width: 3.5rem;
      display: block;
      box-sizing: content-box;
      position: relative;
      background: #eee;
      padding: 0.25rem;
      transition: background .2s ease;
      border-radius: 1.75rem; }
      .switch input[type='checkbox'] + label:before {
        content: " ";
        display: block;
        position: relative;
        width: 1.75rem;
        height: 1.75rem;
        background: #cccccc;
        color: #ccc;
        cursor: pointer;
        left: 0;
        transition: left .2s ease;
        border-radius: 50%; }
      .switch input[type='checkbox'] + label:after {
        content: "off";
        display: block;
        position: absolute;
        width: 1.75rem;
        height: 1.75rem;
        background: transparent;
        color: #ccc;
        cursor: pointer;
        right: 0.25rem;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        height: 1.5rem; }
    .switch input[type='checkbox']:checked + label {
      background: #58C01D; }
      .switch input[type='checkbox']:checked + label:before {
        left: 1.75rem;
        content: ' ';
        background: #fff; }
      .switch input[type='checkbox']:checked + label:after {
        content: "on";
        display: block;
        position: absolute;
        width: 1.75rem;
        height: 1.75rem;
        background: transparent;
        color: #ccc;
        cursor: pointer;
        left: 0.25rem;
        right: inherit;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        color: #fff;
        height: 1.5rem; }

.staticInput {
  display: none; }
  .staticInput input {
    width: 3.5rem;
    height: 1rem;
    display: inline-block;
    background: #444;
    border: 1px solid #555;
    color: #ccc;
    padding: .25rem; }

select#theme {
  width: 4.5rem;
  display: inline-block;
  background: #444;
  border: 1px solid #555;
  color: #ccc;
  padding: .25rem; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
  background: black;
  width: 100%;
  overflow: hidden; }

.cred {
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #777; }
  .cred a:link,
  .cred a:visited,
  .cred a:hover,
  .cred a:active,
  .cred a:focus {
    color: #777; }
  .cred a:hover,
  .cred a:active,
  .cred a:focus {
    text-decoration: none; }

.clockFrame {
  width: 835px;
  height: 475px;
  padding: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #222222;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  .clockFrame .clockPhrase, .clockFrame .placeHolder {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #111111;
    transition: color .3s ease, text-shadow .3s ease; }
    .clockFrame .clockPhrase.active, .clockFrame .active.placeHolder {
      color: #fff;
      text-shadow: 0px 0px 15px #fff; }
      .clockFrame .clockPhrase.active.flicker, .clockFrame .active.flicker.placeHolder {
        -webkit-animation: flicker 5s ease infinite; }

@-webkit-keyframes flicker {
  0% {
    color: #fff;
    text-shadow: 0px 0px 15px #fff; }

  6% {
    color: #fff;
    text-shadow: 0px 0px 15px #fff; }

  7% {
    color: transparent;
    text-shadow: none; }

  8% {
    color: #fff;
    text-shadow: 0px 0px 15px #fff; }

  9% {
    color: transparent;
    text-shadow: none; }

  10% {
    color: #fff;
    text-shadow: 0px 0px 15px #fff; }

  100% {
    color: #fff;
    text-shadow: 0px 0px 15px #fff; } }
