

$switch-width: 3.5rem;
$switch-height: 1rem;
$switch-padding: .25rem;

@mixin switch-label($content, $bg, $position){
	content: $content;
	display: block;
	position: $position;
	width: ($switch-width/2);
	height: ($switch-width/2);
	background: $bg;
	color: #ccc;
	cursor: pointer;
}

.error{
	font-weight: bold;
	font-family: sans-serif;
	color: red;
	font-size: 1rem;
}
.dispTime{
	whitespace:no-wrap;
}



.settings{
	width: 20rem;
	padding: 0;

	background: #222;
	border: 1px solid #444;
	color: #aaa;

	position: fixed;
	top:1rem;
	right:-22rem;

	z-index: 4;

	transition: right .3s ease;

	&:hover{
		right: 1rem;
	}

	//disables highlight when fast clicking on switches
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	.settingOptions {
		border: 1px solid #444;
		border-width: 1px 0 0;
		padding: .5rem;
		background: linear-gradient(#252525 0%, #141414 50%, #252525 100%);
		text-align: left;
		&:last-child{
			//border-bottom-width:1px;
		}

		

	}

}
.settingToggle{
	width:6rem;
	padding:.5rem;
	line-height:1;
	text-align:center;
	cursor:pointer;
	background: #222;
	border: 1px solid #444;
	color: #aaa;
	position: absolute;
	top:1rem;
	right:1rem;
	&:hover + .settings{
		right: 1rem;
	}
}
//side Label
.sideLabel{
		padding: 1rem;
		font-weight: 700;
		font-size: 0.9rem;
		text-rendering: optimizeLegibility;
		display: inline-block;
		box-sizing: border-box;
		width: 14rem;
	}


//Switch wrapper
.switch{
	position: relative;
	display: inline-block;
	vertical-align: middle;


	//Hidden checkbox control
	input[type='checkbox']{
		display: none;
		
		//Off state
		//Label is holder for the toggle button
		&+ label{
		width: $switch-width;
		display: block;
		box-sizing: content-box;
		position: relative;
		background: #eee;
		padding: $switch-padding;
		transition: background .2s ease;
		border-radius: $switch-width/2;

			//Toggle button
			&:before{
				@include switch-label(' ', #ccc, relative);
				left: 0;
				transition: left .2s ease;
				border-radius: 50%;
			}
			//Toggle button label(switch on or off state)
			&:after{
				@include switch-label('off', transparent, absolute);
				right: $switch-padding;
				top: 0;
				bottom: 0;
				margin: auto;
				text-align: center;
				height: ($switch-width/2) - $switch-padding;
			}
		}
		
		//Checked/on state
		&:checked{

			//Label is holder for the toggle button
			&+ label{

				//Switch on bg
				background: #58C01D;
				
				//Toggle button
				&:before{
					left: $switch-width/2;
					content: ' ';
					background: #fff;
				}
				//Toggle button label(switch on or off state)
				&:after{
					@include switch-label('on', transparent, absolute);
					left: $switch-padding;
					right: inherit;
					top: 0;
					bottom: 0;
					margin: auto;
					text-align: center;
					color: #fff;
					height: ($switch-width/2) - $switch-padding;
				}
			}
		}
	}

}

//Static time manual adjustments
.staticInput{
	display: none;
	input{
		width: $switch-width;
		height: $switch-height;
		display: inline-block;
		background: #444;
		border: 1px solid #555;
		color: #ccc;
		padding: .25rem;
	}
}

select#theme{
	width: $switch-width+1rem;
	display: inline-block;
	background: #444;
	border: 1px solid #555;
	color: #ccc;
	padding: .25rem;
}