

$switch-width: 4rem;
$switch-height: 1.5rem;
$switch-padding: .25rem;

@mixin switch-label($content, $bg, $position){
	content: $content;
	display: block;
	position: $position;
	width: $switch-width/2;
	height: $switch-width/2;
	background: $bg;
}

.error{
	font-weight: bold;
	font-family: sans-serif;
	color: red;
	font-size: 1rem;
}
.dispTime{
	whitespace:no-wrap;
}

.settings{
	background: #fff;
	width: 20rem;
	padding: 2rem 1rem;

	//disables highlight when fast clicking on switches
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	.settingOptions {
		margin: 1rem 0;
	}
}

//Switch wrapper
.switch{
	position: relative;
	display: inline-block;
	vertical-align: middle;

	&+ .switchLabel{
		padding: 1rem;
	}

	//Hidden checkbox control
	input[type='checkbox']{
		display: none;
		
		//Off state
		//Label is holder for the toggle button
		&+ label{
		width: $switch-width;
		display: block;
		box-sizing: content-box;
		position: relative;
		background: #aaa;
		padding: $switch-padding;

			//Toggle button
			&:before{
				@include switch-label(' ', #222, relative);
				left: 0;
				cursor: pointer;
			}
			//Toggle button label(switch on or off state)
			&:after{
				@include switch-label('off', transparent, absolute);
				right: $switch-padding;
				top: $switch-padding;
				text-align: center;
				line-height: 2rem;
			}
		}
		
		//Checked/on state
		&:checked{

			//Label is holder for the toggle button
			&+ label{
				
				//Toggle button
				&:before{
					left: $switch-width/2;
					content: ' ';
				}
				//Toggle button label(switch on or off state)
				&:after{
				@include switch-label('on', transparent, absolute);
				left: $switch-padding;
				top: $switch-padding;
				text-align: center;
				line-height: 2rem;
				}
			}
		}
	}

}